/**
 * Place your custom CSS styles here.
 **/
.box{
    padding: 5px;
    width: 300px;
    max-height: 500px;
}
.div_title{
    font-size: 11px;
}
.form-check{
    padding-left: 32px;
}
.response_voucher{
    max-height: 400px;
    overflow: auto;
}